
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h3>mvc kamp tablo örneği - KATEGORİ </h3>
    <br />
    <table>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>AÇIKLAMA</th>
            <th>DURUM</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Açıklama yaptık</td>
            <td>true</td>
        </tr>
        <tr>
            <td>2</td>
            <td>spor</td>
            <td>Açıklama yaptık</td>
            <td>true</td>
        </tr>
    </table>
</body>
</html>
