
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h3>mvc kamp tablo örneği - KATEGORİ </h3>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>AÇIKLAMA</th>
            <th>DURUM</th>
            <th>GÜNCELLE</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Açıklama yaptık</td>
            <td>true</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>spor</td>
            <td>Açıklama yaptık</td>
            <td>true</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
    </table>
    <button class="btn btn-info">Yeni Kategori</button>
    <button class="btn btn-warning">Kategori Listesi</button>
    <button class="btn btn-danger">Kategori Açıklamaları</button>
</body>
</html>
